.applyed__form {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 10px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  border-bottom: 3px solid #198754;
  border-top: 3px solid #198754;
}

.applyed__form form input,
.applyed__form form textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background: #fff;
  border: 2px solid #dee;
  font-size: 17px;
  border-radius: 6px;
  resize: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.applyed__form form {
  margin-top: 10px;
}
.applyed__form form input:focus,
.applyed__form form textarea:focus {
  border-color: #86b7fe;
  color: #212529;
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.applyed__form form label {
  margin: 5px 0;
  display: inline-block;
}
.applyed__form form button {
  border: none;
  background: #198754;
  padding: 10px 17px;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
  transition: all 0.3s;
}
.applyed__form form button:hover {
  background: #146d43;
}
